## Create DataFrame and Save to CSV File

In [1]:
import pandas as pd

data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam"],
    "Age" : [10, 20, 30],
    "city" : ["Mumbai", "Delhi", "Jaipur"]
}

df = pd.DataFrame(data)
print(df)

df.to_csv("output.csv", index = False)

        Name  Age    city
0        Ram   10  Mumbai
1      Shyam   20   Delhi
2  Ghanshyam   30  Jaipur

##  Create DataFrame and Save to Excel File

In [2]:
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam"],
    "Age" : [10, 20, 30],
    "city" : ["Mumbai", "Delhi", "Jaipur"]
}

df = pd.DataFrame(data)
print(df)

df.to_excel("output.xlsx", index = False)

        Name  Age    city
0        Ram   10  Mumbai
1      Shyam   20   Delhi
2  Ghanshyam   30  Jaipur

##  Create DataFrame and Save to JSON File

In [3]:
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam"],
    "Age" : [10, 20, 30],
    "city" : ["Mumbai", "Delhi", "Jaipur"]
}

df = pd.DataFrame(data)
print(df)

df.to_json("output.json")

        Name  Age    city
0        Ram   10  Mumbai
1      Shyam   20   Delhi
2  Ghanshyam   30  Jaipur

# Data Correlations

Correlation means measuring the relationship between two variables â€” understanding how one variable changes in relation to another.
You can calculate correlations between numerical columns using the .corr() method.

In [19]:
# Reading the CSV file with correct encoding (latin1 to handle special characters)
df = pd.read_csv(
    r"C:\Users\harsh\Desktop\Saloni\pandas(python)\Sample Data\sales_data_sample.csv",
    encoding='latin1' 
)

# Calculating the correlation matrix between numeric columns only
print(df.corr(numeric_only=True))

                 ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  \
ORDERNUMBER         1.000000         0.065543  -0.002935        -0.055550
QUANTITYORDERED     0.065543         1.000000   0.005564        -0.018397
PRICEEACH          -0.002935         0.005564   1.000000        -0.020965
ORDERLINENUMBER    -0.055550        -0.018397  -0.020965         1.000000
SALES               0.039919         0.551426   0.657841        -0.058400
QTR_ID             -0.051383        -0.035323   0.008712         0.040716
MONTH_ID           -0.039723        -0.039048   0.005152         0.034016
YEAR_ID             0.904596         0.069535  -0.005938        -0.057367
MSRP               -0.010280         0.017881   0.670625        -0.021067

                    SALES    QTR_ID  MONTH_ID   YEAR_ID      MSRP
ORDERNUMBER      0.039919 -0.051383 -0.039723  0.904596 -0.010280
QUANTITYORDERED  0.551426 -0.035323 -0.039048  0.069535  0.017881
PRICEEACH        0.657841  0.008712  0.005152 -0.005938  0.670625
ORDERLINENUMBER -0.058400  0.040716  0.034016 -0.057367 -0.021067
SALES            1.000000 -0.006796 -0.009605  0.035647  0.635239
QTR_ID          -0.006796  1.000000  0.979300 -0.433052  0.010234
MONTH_ID        -0.009605  0.979300  1.000000 -0.430163  0.008170
YEAR_ID          0.035647 -0.433052 -0.430163  1.000000 -0.014310
MSRP             0.635239  0.010234  0.008170 -0.014310  1.000000