In [ ]:
import pandas as pd

data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")

#  Direct Assignment Method to Add a New Column.
df["Bonus"] = df["Salary"] * 0.2     # Adds 'Bonus' column at the end
print(df, "\n")

# insert() Method to Add a Column at a Specific Position
# Syntax: df.insert(loc, "column_name", data)
# loc = The index/position where you want to insert the new column.4
df.insert(0, "Employee_ID", [1,2,3,4])     # Inserts 'Employee_ID' column at position 0 (first column)
print(df)

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88

        Name  Age  Salary  Performance   Bonus
0        Ram   10   10000           85  2000.0
1      Shyam   20   20000           86  4000.0
2  Ghanshyam   30   30000           87  6000.0
3   Dhansyam   40   40000           88  8000.0

   Employee_ID       Name  Age  Salary  Performance   Bonus
0            1        Ram   10   10000           85  2000.0
1            2      Shyam   20   20000           86  4000.0
2            3  Ghanshyam   30   30000           87  6000.0
3            4   Dhansyam   40   40000           88  8000.0

UPDATE

In [13]:
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")

df["Salary"] = df["Salary"] * 2.0
print("\n Updated Salary \n \n",df)

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88


 Updated Salary

         Name  Age   Salary  Performance
0        Ram   10  20000.0           85
1      Shyam   20  40000.0           86
2  Ghanshyam   30  60000.0           87
3   Dhansyam   40  80000.0           88