In [2]:
import pandas as pd

data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10,20,30,40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print("Sample Data Frame\n")
print(df)

print("\nDescrie Statistics\n")
print(df.describe())

Sample Data Frame

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88

Descrie Statistics

             Age        Salary  Performance
count   4.000000      4.000000     4.000000
mean   25.000000  25000.000000    86.500000
std    12.909944  12909.944487     1.290994
min    10.000000  10000.000000    85.000000
25%    17.500000  17500.000000    85.750000
50%    25.000000  25000.000000    86.500000
75%    32.500000  32500.000000    87.250000
max    40.000000  40000.000000    88.000000

In [3]:
# Creating sample data dictionary
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

# Creating DataFrame from the data dictionary
df = pd.DataFrame(data)

# Display the complete DataFrame
print(df)

# The f in f"" is used for an f-string, also known as formatted string literal in Python.
# Display shape of the DataFrame (rows, columns)
# f-string used here to directly embed the variable value inside the string
print(f"Shape : {df.shape}")

# Display the column names of the DataFrame
# Again using f-string for clear formatting
print(f"Column Names: {df.columns}")

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88
Shape : (4, 4)
Column Names: Index(['Name', 'Age', 'Salary', 'Performance'], dtype='object')

In [ ]:
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print(df)

#  Selecting Single Column
name = df["Name"]       # Accessing the "Name" column from the DataFrame as a Series (1D data)
print("\n Name : \n", name)

# Selecting Multiple Columns
subset = df[["Name", "Salary"]]    # Accessing multiple columns ("Name" and "Salary") from the DataFrame
print("\n Name and Salary : \n", subset)

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88

 Name :
 0          Ram
1        Shyam
2    Ghanshyam
3     Dhansyam
Name: Name, dtype: object

 Name and Salary :
         Name  Salary
0        Ram   10000
1      Shyam   20000
2  Ghanshyam   30000
3   Dhansyam   40000

In [ ]:
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print(df)

high_salary = df[df["Salary"] > 20000]
print("\n Employee with salary > 20000 \n")
print(high_salary)


# Filter using AND condition: 
filtered_and = df[(df["Salary"] < 30000) & (df["Age"] > 10)]
print("\n Employee list of Age > 10 + Salary < 30000 \n")
print(filtered_and)

# Filter using OR condition: 
filtered_or = df[(df["Age"] > 20) | (df["Performance"] > 90)]
print("\n Either Employees older than 20 OR performance of them is greter than 90 \n")
print(filtered_or)

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88

 Employee with salary > 20000

        Name  Age  Salary  Performance
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88

 Employee list of Age > 10 + Salary < 30000

    Name  Age  Salary  Performance
1  Shyam   20   20000           86

 Either Employees older than 20 OR performance of them is greter than 90

        Name  Age  Salary  Performance
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88