In [3]:
import pandas as pd

data = {
     "Name" : ["Aditi", "Babita", "Caslay", "Divya", "Ekta"],
    "Age" : [28, 34, 22, 34, 28],
    "Salary" : [50000, 60000, 45000, 52000, 48000]
}

df = pd.DataFrame(data)

# Grouping the data by 'Age' and calculating the sum of 'Salary' in each Age group
grouped = df.groupby("Age")["Salary"].sum()

# Displaying the grouped and summed salaries by Age
print(grouped)

# Output :
# Age 22: 45000
# Age 28: 50000 + 48000 = 98000
# Age 34: 60000 + 52000 = 112000

Age
22     45000
28     98000
34    112000
Name: Salary, dtype: int64

In [ ]:
data = {
     "Name" : ["Aditi", "Babita", "Caslay", "Divya", "Ekta"],
    "Age" : [28, 34, 22, 34, 28],
    "Salary" : [50000, 60000, 45000, 52000, 48000]
}

df = pd.DataFrame(data)

# Grouping the DataFrame by 'Age' and 'Name', then summing the Salary
grouped = df.groupby(["Age", "Name"])["Salary"].sum()

# Here, .sum() doesn't actually add anything because 
# no (Age, Name) combination is repeated in the data.
# So, the salary shown remains the same as original.

# Printing the grouped (but unchanged in value) Salary data
print(grouped)

Age  Name
22   Caslay    45000
28   Aditi     50000
     Ekta      48000
34   Babita    60000
     Divya     52000
Name: Salary, dtype: int64

In [ ]:
data = {
    "Name" : ["Aditi", "Babita", "Caslay", "Divya", "Ekta", "Aditi", "Divya"],
    "Age" : [28, 34, 22, 34, 28, 28, 34],
    "Salary" : [50000, 60000, 45000, 52000, 48000, 30000, 20000]
}

df = pd.DataFrame(data)

# Grouping the DataFrame by 'Age' and 'Name' together
# For each (Age, Name) pair, summing up their Salary
grouped = df.groupby(["Age", "Name"])["Salary"].sum()

# Printing the grouped and aggregated Salary data
print("Grouped Salary by Age and Name:\n", grouped)

Grouped Salary by Age and Name:
 Age  Name
22   Caslay    45000
28   Aditi     80000
     Ekta      48000
34   Babita    60000
     Divya     72000
Name: Salary, dtype: int64