In [4]:
import pandas as pd

data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")   # Printing the original DataFrame

# Dropping the 'Performance' column from the DataFrame
# Syntax: df.drop(columns = ["column_name"], inplace = True)
df.drop(columns = ["Performance"], inplace = True)
print("\n",df)    # Printing the updated DataFrame after dropping the column

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88


         Name  Age  Salary
0        Ram   10   10000
1      Shyam   20   20000
2  Ghanshyam   30   30000
3   Dhansyam   40   40000

In [8]:
data = {
    "Name" : ["Ram", "Shyam", "Ghanshyam", "Dhansyam"],
    "Age" : [10, 20, 30, 40],
    "Salary" : [10000, 20000, 30000, 40000],
    "Performance" : [85, 86, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")  # Printing the original DataFrame

# Dropping multiple columns: 'Performance' and 'Age'
# Syntax: df.drop(columns = ["column_name1", "column_name2", ...], inplace = True)
df.drop(columns = ["Performance", "Age"], inplace = True)

# Printing the updated DataFrame after dropping the columns
print("\n", df)

        Name  Age  Salary  Performance
0        Ram   10   10000           85
1      Shyam   20   20000           86
2  Ghanshyam   30   30000           87
3   Dhansyam   40   40000           88


         Name  Salary
0        Ram   10000
1      Shyam   20000
2  Ghanshyam   30000
3   Dhansyam   40000