In [ ]:
import pandas as pd

data = {
    "Name" : ["Ram", None, "Ghanshyam", "Dhansyam"],
    "Age" : [10, None, 30, 40],
    "Salary" : [10000, None, 30000, 40000],
    "Performance" : [85, None, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")  

# Removing rows that have any NaN values
df.dropna(inplace=True)
print(df)    # Displaying the DataFrame after removing rows with NaN

        Name   Age   Salary  Performance
0        Ram  10.0  10000.0         85.0
1       None   NaN      NaN          NaN
2  Ghanshyam  30.0  30000.0         87.0
3   Dhansyam  40.0  40000.0         88.0

        Name   Age   Salary  Performance
0        Ram  10.0  10000.0         85.0
2  Ghanshyam  30.0  30000.0         87.0
3   Dhansyam  40.0  40000.0         88.0