In [ ]:
import pandas as pd

data = {
    "Name" : ["Ram", None, "Ghanshyam", "Dhansyam"],
    "Age" : [10, None, 30, 40],
    "Salary" : [10000, None, 30000, 40000],
    "Performance" : [85, None, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")  

# Checking for missing values in the DataFrame
# df.isnull() returns a DataFrame of True/False where True = value is missing
print(df.isnull())

        Name   Age   Salary  Performance
0        Ram  10.0  10000.0         85.0
1       None   NaN      NaN          NaN
2  Ghanshyam  30.0  30000.0         87.0
3   Dhansyam  40.0  40000.0         88.0

    Name    Age  Salary  Performance
0  False  False   False        False
1   True   True    True         True
2  False  False   False        False
3  False  False   False        False

In [ ]:
data = {
    "Name" : ["Ram", None, "Ghanshyam", "Dhansyam"],
    "Age" : [10, None, 30, 40],
    "Salary" : [10000, None, 30000, 40000],
    "Performance" : [85, None, 87, 88]
}

df = pd.DataFrame(data)
print(df, "\n")  

# Checking the count of missing (null/NaN) values in each column
print(df.isnull().sum())

        Name   Age   Salary  Performance
0        Ram  10.0  10000.0         85.0
1       None   NaN      NaN          NaN
2  Ghanshyam  30.0  30000.0         87.0
3   Dhansyam  40.0  40000.0         88.0

Name           1
Age            1
Salary         1
Performance    1
dtype: int64